<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="true" class="sidebar" [class.expanded]="isExpanded">
    <div class="sidebar-header">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>
    </div>

    <mat-nav-list>
      <ng-container *ngFor="let item of menuItems">
        <!-- Menu items without children -->
        <a mat-list-item *ngIf="!item.children" [routerLink]="item.route" routerLinkActive="active">
          <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
          <span matListItemTitle *ngIf="isExpanded">{{item.name}}</span>
        </a>

        <!-- Menu items with children -->
        <div *ngIf="item.children" class="submenu-item">
          <a mat-list-item (click)="toggleSubmenu(item)">
            <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
            <span matListItemTitle *ngIf="isExpanded">{{item.name}}
              <mat-icon class="menu-expand-icon" *ngIf="isExpanded">
                {{item.expanded ? 'expand_less' : 'expand_more'}}
              </mat-icon>
            </span>
          </a>

          <div [@submenuAnimation]="item.expanded ? 'visible' : 'hidden'" class="submenu">
            <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route" routerLinkActive="active"
              class="submenu-item">
              <mat-icon matListItemIcon>{{child.icon}}</mat-icon>
              <span matListItemTitle *ngIf="isExpanded">{{child.name}}</span>
            </a>
          </div>
        </div>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>